pre,
code,
kbd,
samp,
var {
  font-family: $family-monospace;
}

kbd {
  padding: 0 0.25em;
  background-color: $grey-200;
}

pre {
  overflow-y: hidden;
  page-break-inside: avoid;
  border-left: .3rem solid $primary;

  & > code {
    display: block;
    white-space: pre;
    padding: $spacer $spacer * 1.25;
  }
}

code {
  border: .1rem solid $grey-200;
  background-color: $grey-200;
  display: inline;
  max-width: 100%;
  word-wrap: break-word;
  padding: 0 0.25em;
}
