pre,
code,
kbd,
samp,
var {
  font-family: $family-monospace;
}

kbd {
  padding: 0 0.25em;
  background-color: var(--grey-200);
}

pre {
  overflow-y: hidden;
  page-break-inside: avoid;
  border-left: .3rem solid var(--primary);

  & > code {
    display: block;
    white-space: pre;
    padding: $spacer $spacer-lg;
  }
}

code {
  border: 1px solid var(--grey-200);
  background-color: var(--grey-200);
  display: inline;
  max-width: 100%;
  word-wrap: break-word;
  padding: 0 0.25em;
}
