fieldset {
  margin: $spacer 0;
  padding: $spacer;
  border: 1px solid var(--grey-400);

  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  legend {
    margin: 0 0 0 -0.1875em;
    padding: 0 0.1875em;
  }
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  padding: 0;
  white-space: normal;
  max-width: 100%;
  margin-bottom: div($spacer, 2);
}

form {
  margin-bottom: $spacer;
}

label {
  @extend small;

  display: block;
  margin: 0;
  font-weight: $weight-normal;
  line-height: 1.8;
}

[type="checkbox"] + label,
[type="radio"] + label {
  display: inline-block;
  vertical-align: baseline;
  margin-left: div($spacer, 2);
  margin-right: $spacer;
  margin-bottom: 0;

  &[for] {
    cursor: pointer;
  }
}

::-webkit-input-placeholder,
::-moz-placeholder,
::-ms-input-placeholder,
::placeholder {
  color: var(--text-lighten);
}

:focus::placeholder {
  color: var(--text-lighten);
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 1em;
  line-height: 1.15;
  margin: 0;
  max-width: 100%;
  background-color: var(--background);
  color: var(--text);
  border: 0.1rem solid var(--text-darken);
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
