fieldset {
  margin: $spacer 0;
  padding: $spacer;
  border: 1px solid var(--grey-200);

  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  legend {
    margin: 0 0 0 -0.1875em;
    padding: 0 0.1875em;
  }
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  padding: 0;
  white-space: normal;
  max-width: 100%;
  margin-bottom: $spacer-md;
}

form {
  margin-bottom: $spacer;
}

label {
  @extend small;

  display: inline-block;
  margin: 0;
  font-weight: $weight-normal;
  line-height: 1.8;
}

[type="checkbox"] + label,
[type="radio"] + label {
  display: inline-block;
  vertical-align: baseline;
  margin-left: $spacer-md;
  margin-right: $spacer;
  margin-bottom: 0;

  &[for] {
    cursor: pointer;
  }
}

::-webkit-input-placeholder,
::-moz-placeholder,
::-ms-input-placeholder,
::placeholder {
  color: var(--text-lighten);
}

:focus::placeholder {
  color: var(--text-lighten);
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 1em;
  line-height: 1.15;
  margin: 0;
  max-width: 100%;
  background-color: var(--background);
  color: var(--text);
  border: 1px solid var(--text-darken);
}

select,
textarea,
input[type=text],
input[type=email],
input[type=tel],
input[type=password],
input[type=search],
input[type=number],
input[type=date],
input[type=month],
input[type=week],
input[type=datetime],
input[type=datetime-local],
input[type=url] {
  border-radius: $radius;
  padding: $spacer;
  width: 100%;
}

input, 
button {
  &[type=submit],
  &[type=reset],
  &[type=button] {
    padding: $spacer;
    border-radius: $radius;
    cursor: pointer;
  }
}

input[type=file] {
  border-radius: $radius;
}

textarea {
  max-width: 100%;
  resize: vertical;
  min-height: 3em;
}

button,
input {
  overflow: visible;

  &[disabled] {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
  }
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;

  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;

  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
