:root {
  @each $name, $color in $colors {
    --#{$name}-darken: #{darken($color, 5)};
    --#{$name}: #{$color};
    --#{$name}-lighten: #{lighten($color, 5)};
  }

  @each $name, $color in $greys {
    --#{$name}: #{$color};
  }

  --spacer: #{$spacer};
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: $body-background-color;
  color: $body-color;

  font-family: $body-font-family;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  font-size: $body-font-size;
  letter-spacing: .01em;

  min-width: 32rem;
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
