p {
  margin-top: 0;
  margin-bottom: $spacer;

  &:last-child {
    margin-bottom: 0;
  }
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: $spacer;

  ol,
  ul,
  dl {
    padding-left: $spacer;
    margin-bottom: 0;
  }
}

ul,
ol {
  list-style-position: inside;
}

blockquote {
  margin-bottom: $spacer;
  padding: $spacer $spacer-lg;
  border-left: 0.3rem solid var(--primary-lighten);
  background-color: var(--grey-50);

  &:last-child {
    margin-bottom: 0;
  }
}

cite {
  @extend small;

  display: block;
  color: var(--text-lighten);

  &::before {
    content: "— ";
  }
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  clear: both;
  margin: $spacer auto;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid var(--primary-darken);
  border-left: 0;
}

dl {
  margin-bottom: $spacer;
}

dt {
  margin-bottom: $spacer-sm;
  font-weight: $weight-bold;
}

dd {
  margin-bottom: $spacer-sm;
  margin-left: 0;
}

details {
  display: block;

  &[open] {
    // todo
  }
}

summary {
  display: list-item;
}
